body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #F5F6CE;
}

.quem-somos {
    background-color: #58ACFA;
    color: white;
}

.margin {
    scroll-padding-top: 10px;
    padding-bottom: 15px;
}

.produtos {
    background-color: #2EFE9A;
}

.bg-footer {
    background-color: black;
    color: white;
}