body {
    background: rgb (226,164,164);
    margin-left: 50px;
    margin-right: 200px;
}

header {
    margin-top: 50px;
}

h1 {
    color: red;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 12px;
}

img {
    margin-bottom: 20px;
}
